*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html{
    font-family: 'Roboto';
    text-decoration: none;
    scroll-behavior: smooth; 
}
body{
    background-color: #03dac5;
}
#type-animation{
    font-size: 2.5rem;
    display: inline-block;
}
#cursor{
    display: inline-block;
    font-size: 3rem;
}
#logo{
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
}
#landing{
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./resources/ryan.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
}
a{
    background-color: inherit;
    text-align: center;
    text-decoration: none;
}
#name{
    color: #03dac5;
    display: inline-block;
}
#intro{
    margin-bottom: rem;
}

.container1{
    color: white;
    display: table;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('./resources/bg.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-left: 2rem;
    padding-bottom: 2rem;
    -webkit-clip-path: polygon(0 100%, 0 0, 75% 0, 25% 100%);
    clip-path: polygon(0 100%, 0 0, 75% 0, 25% 100%);
}
.container1 > .inner{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.btn{
    background-color: inherit;
    cursor: pointer;
    border: 0;
    display: block;
}

button::-moz-focus-inner {
    border: 0;
}
    
#vm{
    color: white;
    border: 2px white solid;
    font-size: 0.8rem;
    padding: 0.7rem 1.6rem;
    transition: all 0.3s ease-out 0s;
    margin-top: 2rem;
}

.btn#vm:hover{
    color: #121212;
    background-color: #f5f6fa;
}

.container2{
    background-color: #121212;
    padding: 3rem 10rem;
    text-align: center;
}
.container2 > p{
    border-top: 2px #03dac5 solid;
    border-bottom: 2px #03dac5 solid;
    font-size: 1.5rem;
    color: #f2f2f2;
    padding: 2rem 0;
}
.stuffs{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.stuffs > a{
    color: #03dac5;
    background-color: #121212;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
    border: 1px #f2f2f2 solid;
    box-shadow: 0 0 15px #03dac5;
    background-size: contain;
    transition: all 0.2s ease-in-out 0s;
}
.stuffs a::before{
    font-family: "Font Awesome 5 Free";
    content: '\f121';
    font-size: 8rem;
    font-weight: 700;
}
.stuffs > a:hover{
    color: #03dac5;
    background-color: #f2f2f2;
}
.footer{
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
}

.footer > h1{
    display: inline-block;
    margin-right: 2rem;
    text-align: center;
}
.wrapper{
    display: flex;
    text-align: left;
    display: inline-block;
    min-width: 650px;
    list-style-type: none;
    overflow: hidden;
    height: 150px;
    font-size: 0;
}

.tab{
    display: inline-block;
    height: 150px;
    background-color: #121212;
    position: relative;
    overflow: hidden;
    width: 60px;
    border-left: 4px #03dac5 solid;
    color: #121212;
    transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover{
    width: 350px;
    border: 0;
    transition: all 0.5s ease-in-out 0.1s;
    border-left: 4px #03dac5 solid;
}

.tab > .content{
    background-color: #f2f2f2;
    height: 150px;
    width: 290px;
    margin-left: 60px;
    position: relative;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.tab > .content > h1{
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.tab > .content > p{
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1rem;
    text-align: justify;
}
.tab:hover > .sm a::before{
    margin-left: -3.8rem;
}
.tab:hover > .sm a::after{
    margin-left: 0rem;
}
.sm a::after, .sm a::before{
    transition: all 0.5s ease-in-out 0.1s;
    width: 60px;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal 2rem "Font Awesome 5 Brands";
    color: #f2f2f2;
    position: absolute;
    cursor: pointer;
    font-weight: 300;
}
.sm a::after{
    margin-left: 60px;
    font-size: 3rem;
}
.line a::after, .line a::before{
    content: '\f3c0';
    
}

.line a::after{
    background-color: #00c300;
}

.instagram a::after, .instagram a::before{
    content: '\f16d';
}

.instagram a::after{
    background-image: linear-gradient(45deg, #515bd4, #8134af, #dd2a7b, #feda77, #f58529);
}
.linkedin a::after, .linkedin a::before{
    content: '\f0e1';
}

.linkedin a::after{
    background-color: #0e76a8;
}

.github a::after, .github a::before{
    content: '\f09b';
}

.github a::after{
    background-color: #333;
}

.gitlab a::after, .gitlab a::before{
    content: '\f296';
}

.gitlab a::after{
    background-color: #292961;
}

@media only screen and (max-width: 900px){
    .container1, .container2 > .inner{
        clip-path: none;
    }
    .container2{
        padding: 1rem 2rem;
    }
    .container2 > p{
        margin: 0 1rem;
        margin-top: 2rem;
    }
    .container1{
        background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('./resources/bg.jpg');
    }
    #vm{
        margin: 0 auto;
        margin-top: 1rem;
    }
    #cursor{
        display: none;
    }
    .container1 > .inner{
        text-align: center;
        vertical-align: middle;
        padding-right: 2rem;
    }
    #landing{
        background: none;
    }
    .footer > h1{
        display: block;
        margin-bottom: 1rem;
        text-align: center;
        margin-left: 2rem;
    }
    .footer{
        display: block;
    }
    .tab{
        display: block;
        width: 100%;
        border-bottom: 4px #121212 solid;
        border-left: 4px #f2f2f2 solid;
    }
    .wrapper{
        height: auto;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        border-top: 4px #f2f2f2 solid;
        box-shadow: 0 0 10px #03dac5;
        border-bottom: 4px #f2f2f2 solid;
    }
    #last{
        border-bottom: none;
    }
    .tab > .content{
        width: 100%;
        padding-right: 4.5rem;
    }
    .tab:hover{
        width: 100%;
        border-bottom: 4px #121212 solid;
        border-left: 4px #f2f2f2 solid;
    }
}

