*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body, html {
    font-family: 'Roboto';
    background-color: white;
    text-decoration: none;
    scroll-behavior: smooth;   
}
.container1 > h1{
    margin-top: 0.5rem;
    font-size: 3rem;
}

a{
    background-color: inherit;
    color: white;
    text-align: center;
    text-decoration: none;
    
}
a:hover{
    color: #16a085;
    background-color: white;
}
.container1{
    color: white;
    display: table;
    width: 100%;
    height: 100vh;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.9)
    ), url("bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
span{
    display: table-cell;
    vertical-align: middle;
}
#logo{
    width: 250px;
    height: 250px;
}


.btn{
    background-color: inherit;
    cursor: pointer;
    font-family: "Lato";
    
}
.btn{
    border: 0;
}

button::-moz-focus-inner {
    border: 0;
}
    
.btn#vm{
    color: white;
    border: 2px white solid;
    font-size: 0.8rem;
    padding: 0.7rem 1.6rem;
    transition: all 0.3s ease-out 0s;
}

.btn#vm:hover{
    color: #000000;
    background-color: #f5f6fa;
}
.quote{
    font-family: 'Garamond';
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.quote::after{
    content: "\2015 Ryan Daniel\2015";
}

.container2{
    background-color: #f2f2f2;
    display: grid;
    padding: 2em;
    font-family: 'Source Sans Pro';
}
.img-circular{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
}

#profile{
    background-image: url("profile1.jpg");
}
.left{
    flex-direction: row;
    justify-self: start;
    grid-column: 1/3;
    align-self: center;
    margin-left: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem 0rem 1rem 0rem;
}

.h1wrap > h1{
    font-size: 2rem;
    display: inline-block;
    margin-top: 0.5rem;
    color: black;
    border: 1px #bdc3c7 solid;
    background-color: white;
    padding: 0.8rem;
    box-shadow: 0.5rem 0.5rem #636e72;
}

.h1wrap#left{
    margin-left: 2rem;
    grid-column: 1/5;
    text-align: left;
}
.h1wrap#right{
    margin-right: 2rem;
    grid-column: 1/5;
    text-align: right;
    margin-top: 1rem;
}

.container2 > .center{
    grid-column: 1/5;
}

.right{
    grid-column: 3/5;
    font-size: 1.3rem;
    align-self: center;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}
.right > :first-child{
    font-size: 3rem;
    text-align: left;
}
.right > .second{
    font-size: 17px;
    margin-bottom: 0.5rem;
}
.right > .third, .right > .fourth{
    margin-bottom: 0.5rem;
}
.left > p{
    margin-top: 1rem;
    font-size: 20px;
}

.footer{
    background-color: #222;
    color: white;
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

@font-face{
    font-family: 'Genericons';
    src: url('genericons/genericons-regular-webfont.woff') format('woff'),
         url('genericons/genericons-regular-webfont.eot') format('truetype');
}
.footer > h1{
    display: inline-block;
    margin-right: 2rem;
    text-align: center;
    margin-left: 2em;
}
.wrapper{
    text-align: left;
    background-color: #222;
    display: inline-block;
    min-width: 767px;
    list-style-type: none;
    overflow: hidden;
    height: 150px;
    font-size: 0;
    font-family: 'Lato';
}

.tab{
    display: inline-block;
    height: 150px;
    background-color: #222;
    position: relative;
    overflow: hidden;
    width: 60px;
    border-left: 4px white solid;
    color: black;
    transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover{
    width: 350px;
    border: 0;
    transition: all 0.5s ease-in-out 0.1s;
    border-left: 4px white solid;
}

.tab > .content{
    background-color: white;
    height: 150px;
    width: 290px;
    margin-left: 60px;
    position: relative;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.tab > .content > h1{
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.tab > .content > p{
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1rem;
    text-align: justify;
}
.tab:hover > .sm a::before{
    margin-left: -3.8rem;
}
.tab:hover > .sm a::after{
    margin-left: 0rem;
}
.sm a::after, .sm a::before{
    transition: all 0.5s ease-in-out 0.1s;
    width: 60px;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal 2rem Genericons;
    color: white;
    position: absolute;
    cursor: pointer;
    
}
.sm a::after{
    margin-left: 60px;
    font-size: 3rem;
}

.sm a::after, .sm a::before{
    font-family: "Font Awesome 5 Brands";
    font-weight: 300;
}
.line a::after, .line a::before{
    content: '\f3c0';
    
}

.line a::after{
    background-color: #00c300;
}

.instagram a::after, .instagram a::before{
    content: '\f16d';
}

.instagram a::after{
    background-image: linear-gradient(45deg, #515bd4, #8134af, #dd2a7b, #feda77, #f58529);
}

.twitter a::after, .twitter a::before{
    content: '\f099';
}

.twitter a::after{
    background-color: #38a1f3;
}
.linkedin a::after, .linkedin a::before{
    content: '\f0e1';
}

.linkedin a::after{
    background-color: #0e76a8;
}

.github a::after, .github a::before{
    content: '\f09b';
}

.github a::after{
    background-color: #333;
}

.gitlab a::after, .gitlab a::before{
    content: '\f296';
}

.gitlab a::after{
    background-color: #292961;
}
@media only screen and (max-width: 767px){
    .footer > h1{
        display: block;
        margin-bottom: 1rem;
    }
    .footer{
        display: block;
    }
    .tab{
        display: block;
        width: 100%;
        border-bottom: 4px #222 solid;
    }
    .wrapper{
        height: auto;
        min-width: 450px;
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        border-top: 4px white solid;
    }
    .tab > .content{
        width: 100%;
        padding-right: 4.5rem;
    }
    .tab:hover{
        width: 100%;
        border-bottom: 4px #222 solid;
    }
    .container2{
        display: block;
    }
    .left#first{
        float: left;
        display: block;
        padding: 0;
        margin-top: 2rem;
    }
    .h1wrap{
        clear: left;
    }
    .img-circular{
        display: inline-block;
        border-radius: 0;
        margin-right: 2rem;
    }
    .right{
        padding: 0;
        margin: 1rem 0 0 2rem;
    }
}